﻿@model PL.Models.LoginViewModel

<h2 class="text-center">Log into existing account</h2>
<hr />

<div class="row">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_InlineErrorPartial")

        <div class="form-group">
            @Html.LabelFor(m => m.NickName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(m => m.NickName, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.Partial("_PasswordPartial")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>

        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}