﻿@model PL.Models.PersonalInfoViewModel
@using PL.Helpers

<h2 class="text-center">Welcome, @User.Identity.Name!</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd class="success">[ @Html.ActionLink("Change password", "ChangePassword") ]</dd>

        <dt>Email:</dt>
        <dd class="text-success">@Html.ShowAbout(Model.Email)</dd>

        <dt>First name:</dt>
        <dd class="text-success">@Html.ShowAbout(Model.FirstName)</dd>

        <dt>Last name:</dt>
        <dd class="text-success">@Html.ShowAbout(Model.LastName)</dd>

        <dt>Physical address:</dt>
        <dd class="text-success">@Html.ShowAbout(Model.Address)</dd>

    </dl>

    @if (!Model.HasSetPersonalInfo)
     {
        @Html.ActionLink("Set personal info", "SetPersonalInfo");
     }
</div>
