﻿body {
    
}

span {
    position: absolute;
    left: 255px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
    display: none;
}

span.active{
    display: initial;
}

.eye{
    height: 34px;
}