﻿@model PL.Models.ParticularProductViewModel

@{ 
    var expirationDaysLeft = Model.ExpirationDate.Subtract(DateTime.Now);
}
<h2 class="text-center">Get particular product</h2>

<div class="jumbotron row">

    @*CAROUSEL*@
    @*<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div style="width : 300px; height : 300px; margin: auto">
                        <img src="@Url.Content(Model.Images.FirstOrDefault())" alt="Image" class="d-block w-100 img-rounded" />
                    </div>
                    </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div style="width : 300px; height : 300px; margin: auto">
                        <img src="@Url.Content(Model.Images.LastOrDefault())" alt="Image" class="d-block w-100 img-rounded" />
                        </div>
                    </div>
                <div class="carousel-item">
                    <div style="width : 300px; height : 300px; margin: auto">
                        <img src="@Url.Content(Model.Images.LastOrDefault())" alt="Image" class="d-block w-100 img-rounded" />
                        </div>
                    </div>
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>*@

    <dl class="dl-horizontal">
        <div style="width : 300px; height : 300px; margin: auto">
            <img src="@Url.Content(Model.Images.FirstOrDefault())" alt="Image" class="img-rounded img-responsive" />
        </div>
    </dl>

    <dl class="dl-horizontal">
        <div class="text-center">
            <b>@Html.DisplayFor(model => model.Name)</b>
        </div>
    </dl>

    <div class="row">

        <div class="col-md-3 text-center">
            <b>@Html.DisplayNameFor(model => model.CurrentPrice):</b>
            @Html.DisplayFor(model => model.CurrentPrice, new { @class = "text-success" })
        </div>

        <div class="col-md-9 text-center">
            <b>Will be sold in:</b>
            <span class="text-danger">
           @if (expirationDaysLeft.Days != 0)
            {
                @expirationDaysLeft.Days <span>day(s) |</span>
            }
           @if (expirationDaysLeft.Hours != 0)
            {
                @expirationDaysLeft.Hours <span>hour(s) |</span>
            }
                @expirationDaysLeft.Minutes <span>minute(s)</span>.     
            </span>
        </div>

    </div>

    <h3>
        @Html.DisplayFor(model => model.Description)
    </h3>

    <a class="btn btn-default" href="~/Bid/MakeBid/@Model.Id">Make bid &raquo;</a>
    @if(User.IsInRole("Admin"))
     {
        <span><a class="btn btn-danger" href="~/Admin/DeleteProduct/@Model.Id">Delete &raquo;</a></span>
     }

</div>

<script>
    window.setInterval('refresh()', 60000);
    // Call a function every 60000 milliseconds
    // (OR 60 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script>