﻿@model PL.Models.SellNewProductViewModel
@using Microsoft.AspNet.Identity

<h2 class="text-center text-info">Sell new product</h2>
<hr />

@using (Html.BeginForm("SellNewProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.InitialPrice, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.InitialPrice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.InitialPrice, new { @class = "form-control", @type = "number" })
        </div>
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.ExpirationDate, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.ExpirationDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="datetime-local" name=@nameof(Model.ExpirationDate) value="@Model.ExpirationDate" required class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <textarea name=@nameof(Model.Description) required class="form-control" style="width:350px; height:200px; resize:none">@Model.Description</textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Image.FileName, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Image, new { @class = "form-control", @type = "file" })
        </div>
    </div>

    if (Model.Image != null && Model.Image.ContentLength > 3000)
    {
        <p>Pizdets</p>
    }

    <input data-val="true"
           name="SellerId"
           type="hidden"
           value="@User.Identity.GetUserId()" />

    @Html.HiddenFor(m => m.Image)
    @Html.HiddenFor(m => m.GeneralProductId)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}