﻿<h2>Product sent to admin consideration.</h2>

<hr />
<img src="~/Assets/Img/Success/okay.png" alt="Success" class="img-responsive center-block" style="height: 50vh" />

<p>
    @Html.ActionLink("Continue shopping", "Index", "Home")
</p>