﻿@model IEnumerable<PL.Models.CategoryViewModel>

<div class="jumbotron row">

    @foreach (var category in Model)
     {
        <a class="col-md-4" href="~/Product/ProductList/@category.Id">

            <dl class="dl-horizontal">
                <div style="width : 200px; height : 200px; margin: auto">
                    <img src="@Url.Content(category.Image)" alt="Image" class="img-rounded img-responsive" />
                </div>
            </dl>
                
            <dl class="dl-horizontal">
                <div class="text-center">
                    <b>@Html.DisplayFor(modelItem => category.Title)</b>
                </div>
            </dl>

        </a>
     }

</div>