﻿@model PL.Models.FindProductViewModel

<h2 class="text-info text-center">Search</h2>
<br />

@using (Html.BeginForm("Find", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
 {
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
 }
