﻿<h2 class="text-success">Order confirmed and status set to 'Accepted'. Furthermore instructions sent via email.</h2>

<hr />
<img src="~/Assets/Img/Success/okay.png" alt="Success" class="img-responsive center-block" style="height: 50vh" />

<p>
    @Html.ActionLink("Back to my orders", "Show", "Order") |
    @Html.ActionLink("Continue shopping", "Index", "Home")
</p>
