﻿@model IEnumerable<PL.Models.ShowOrderViewModel>
@using Microsoft.AspNet.Identity;

@{
    const string USER_ID = "User id";
    TempData[nameof(USER_ID)] = User.Identity.GetUserId();
}

<h2 class="text-center text-info">My orders</h2>

@if (Model.Count() is 0)
 {
    Html.RenderPartial("_SorryPartial");
 }
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

       @foreach (var item in Model)
        {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.ProductCategory)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ProductName)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ShippingAddress)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.ProcessingDate)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Price)
               </td>
               @if (!item.IsSentToCustomer)
                {
                   <td>
                       @Html.ActionLink("Accept", "Accept", new { id = item.Id }) |
                       @Html.ActionLink("Remove", "Remove", new { id = item.Id })
                   </td>
                } else
                {
                   <td>
                       <span class="text-success">Wait for delivery</span>
                   </td>
                }
            </tr>
        }
    </table>
 }