﻿@model PL.Models.BidProductViewModel

<h2 class="text-center">Confirm bid</h2>

<div>
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.CategoryTitle)</dt>
        <dd>@Html.DisplayFor(model => model.CategoryTitle)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
        <dd>@Html.DisplayFor(model => model.ProductName)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.InitialPrice)</dt>
        <dd>@Html.DisplayFor(model => model.InitialPrice)</dd>

        <dt>@Html.DisplayNameFor(model => model.SuggesterPrice)</dt>
        <dd>@Html.DisplayFor(model => model.SuggesterPrice)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductDescription)</dt>
        <dd>@Html.DisplayFor(model => model.ProductDescription)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "MakeBid", new { id = Model.Id }) |
    @Html.ActionLink("Back to categories", "Index", "Home") |
    @Html.ActionLink("Confirm", "SaveBid")
</p>
