﻿@model PL.Models.MakeBidViewModel
@using Microsoft.AspNet.Identity

<h2 class="text-center">Create a new bid.</h2>

@using (Html.BeginForm("ConfirmBid", "Bid", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
 {
    @Html.AntiForgeryToken()
    @Html.Partial("_InlineErrorPartial")

    <div class="form-group text-success">
        @Html.LabelFor(m => m.InitialPrice, new { @class = "col-md-2 text-right" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.InitialPrice, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SuggestedPrice, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="number" name=@nameof(Model.SuggestedPrice) required class="form-control" pattern="[0-8]" size="2" />
        </div>
    </div>

    <input data-val="true"
           name="ClientId"
           type="hidden"
           value="@User.Identity.GetUserId()" />

    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.InitialPrice)
    @Html.HiddenFor(m => m.ProductOwnerId)
    @Html.HiddenFor(m => m.BidLastCustomerId)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Make bid" />
        </div>
    </div>
 }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
