﻿<h2 class="text-center">
    <b class="text-danger">Error: </b>
    Bad request...
</h2>
<hr />
<img src="~/Assets/Img/Error/oops-2.png" alt="Alternate Text" class="img-responsive center-block" style="height: 50vh"/>

@Html.ActionLink("Main menue", "Index", "Home")