﻿<h2 class="text-center">
    <b class="text-danger">Error: </b>
    Insufficient rights...
</h2>
<hr />
<img src="~/Assets/Img/Error/no.png" alt="Alternate Text" class="img-responsive center-block" style="height: 30vh"/>

@Html.ActionLink("Main menue", "Index", "Home")