﻿<h2 class="text-center">
    <b class="text-danger">Error: </b>
    You did not provide any info about yourself. Please set it in account management...
</h2>
<hr />
<img src="~/Assets/Img/Error/no.png" alt="Alternate Text" class="img-responsive center-block" style="height: 30vh" />

@Html.ActionLink("My account", "Index", "Manage") |
@Html.ActionLink("Main menue", "Index", "Home")
