﻿<h2 class="text-center">
    <b class="text-danger">Error: </b>
    Requested resource was not found...
</h2>

<img src="~/Assets/Img/Error/Gendalf.png" alt="Alternate Text" class="img-responsive center-block" style="height: 70vh" />

@Html.ActionLink("Main menue", "Index", "Home")