﻿<h2 class="text-center">
    <b class="text-danger">Error: </b>
    Please, authorize to visit this page...
</h2>
<hr />
<img src="~/Assets/Img/Error/no.png" alt="Alternate Text" class="img-responsive center-block" style="height: 30vh" />

@Html.ActionLink("Log in", "Login", "Account") |
@Html.ActionLink("Register new account", "Register", "Account") |
@Html.ActionLink("Main menue", "Index", "Home")