﻿<h2 class="text-center">
    <b class="text-danger">Error: </b>
    Hm.. Seems, file size exceeded the allowed range...
</h2>
<hr />
<img src="~/Assets/Img/Error/ouch.png" alt="Exceed" class="img-responsive center-block" style="height: 30vh" />