﻿@{const string ERRORS = "errors"; }

@if (TempData[nameof(ERRORS)] != null)
 {
    var temp = TempData[nameof(ERRORS)] as IEnumerable<object>;

    foreach (var item in temp)
    {
        <div class="text-danger">@item</div>
    }
 }
<br />