﻿@Styles.Render("~/Content/Custom/pass-hide.css")

<input type="password" id="password" name="Password" class="form-control" />
<span class="active" id="eye-opened">
    <img src="~/Assets/Icos/eye-opened.png" alt="hide" class="eye" />
</span>
<span id="eye-closed">
    <img src="~/Assets/Icos/eye-closed.png" alt="show" class="eye" />
</span>

@Scripts.Render("~/Scripts/Custom/display-pass.js")