﻿<h2 class="text-center text-info">
    No items currently available...
</h2>
<hr />
<img src="~/Assets/Img/Error/sorry.png" alt="Sorry" class="img-responsive center-block" style="height:30vh"/>

@Html.ActionLink("Main menue", "Index", "Home")