﻿@model string

<h2 class="text-center">
    <b class="text-danger">Error: </b>
    @Model...
</h2>
<hr />
<img src="~/Assets/Img/Error/oops-1.png" alt="Alternate Text" class="img-responsive center-block" />

@Html.ActionLink("Main menue", "Index", "Home")