﻿@model IEnumerable<PL.Models.ParticularProductViewModel>

<h2 class="text-center">Product[s] waiting for confirmation</h2>

<div class="jumbotron row">

    @if (Model.Count() is 0)
     {
        Html.RenderPartial("_SorryPartial");
     }
    else
    {
        foreach (var product in Model)
        {
            <a class="col-md-4" href="~/Admin/ProductWaitingForConfirmation/@product.Id">

                <dl class="dl-horizontal">
                    <div style="width : 200px; height : 200px; margin: auto">
                        <img src="@Url.Content(product.Images.FirstOrDefault())" alt="Image" class="img-rounded img-responsive" />
                    </div>
                </dl>

                <dl class="dl-horizontal">
                    <div class="text-center">
                        <b>@Html.DisplayFor(model => product.Name)</b>
                    </div>
                </dl>

            </a>
        }
    }

    </div>