﻿@model PL.Models.ParticularProductViewModel

<h2 class="text-center">Product waiting for conformation</h2>

<div class="jumbotron row">

    <dl class="dl-horizontal">
        <div style="width : 200px; height : 200px; margin: auto">
            <img src="@Url.Content(Model.Images.FirstOrDefault())" alt="Image" class="img-rounded img-responsive" />
        </div>
    </dl>

    <dl class="dl-horizontal">
        <div class="text-center">
            <b>@Html.DisplayFor(model => model.Name)</b>
        </div>
    </dl>

    <div class="row">
        <div class="col-md-4 text-center">
            <b>@Html.DisplayNameFor(model => model.CurrentPrice):</b>
            @Html.DisplayFor(model => model.CurrentPrice, new { @class = "text-success" })
        </div>
    </div>

    <h3>
        @Html.DisplayFor(model => model.Description)
    </h3>

    <div class="row">

        <div class="col-md-6 text-right">
            <a class="btn btn-default btn-success" href="~/Admin/AcceptRequestForProductSale/@Model.Id">Accept &raquo;</a>
        </div>

        <div class="col-md-6 text-left">
            <a class="btn btn-default btn-danger" href="~/Admin/DeclineRequestForProductSale/@Model.Id">Decline &raquo;</a>
        </div>

    </div>
</div>