﻿@model string

<h2 class="text-success">@Model was successfully promoted to Admin</h2>

<hr />
@Html.Partial("_OkayImgPartial")

<p>
    @Html.ActionLink("Back to customer list", "Users", "Admin")
</p>