﻿@model IEnumerable<PL.Models.CustomerViewModel>
@using PL.Helpers

<h2 class="text-center text-info">Customers:</h2>

<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
    </tr>

   @foreach (var item in Model) 
    {
        <tr>
            <td>
                @if (!item.Role.Equals("Admin"))
                 {
                    TempData["userId"] = item.Id;
                    <a class="btn btn-success" href="~/Admin/PromoteUser">Promote &raquo;</a>
                 }else
                 {
                    <span class="text-success">Already admin</span>
                 }
            </td>
            <td>
                @Html.ShowAbout(item.Email)
            </td>
            <td>
                @Html.ShowAbout(item.Address)
            </td>
            <td>
                @Html.ShowAbout(item.NickName)
            </td>
            <td>
                @Html.ShowAbout(item.LastName)
            </td>
            <td>
                @Html.ShowAbout(item.FirstName)
            </td>
        </tr>
    }

</table>
